<td id="layout-menu">
    <div class="menu-category">{{ site.title }}</div>
    <div class="menu-item"><a href="index.html" {% if page.url == "/index.html" or page.url == "/" %}class="current"{% endif %}>Home</a></div>
<!--     <div class="menu-item"><a href="{{ site.resume }}">CV</a></div> -->
    <div class="menu-item"><a href="publications.html" {% if page.url == "/publications.html" %}class="current"{% endif %}>Publications</a></div>
    <div class="menu-item"><a href="people.html" {% if page.url == "/people.html" %}class="current"{% endif %}>People</a></div>
</td>
